@use '../core' as *;


body{
    background-image:url(AlsScreeeen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    
    
}


.menu {
   
    
        width: 100%;
        
       
        

   
    

    &__nav{
        
        
        height: 90px;
        background: $backgroundtransparent;
        backdrop-filter: blur(24px);
        --webkit-backdrop-filter: blur(30px);
        background-color: rgba(61, 61, 61, 0.11);
        
        width: 100%;
        margin-top: 26px;
        text-size-adjust: auto;
        margin-right: 4em;
        
        
        
        
    }
    
    &__list{
        
        margin: 2em;
        display: flex;
        gap: 1rem;
        

    }

    &__item{
        margin-top: 0px;
       }
    
    
    &__link{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        color: $primary;
        
        font-family: "Meno Banner";
        font-weight: 900;
        font-size: 22px;
        text-align: left;
        color: #b3b3b3;
        margin: 20px;
        margin-left: 10px;
        
        
    }

    @media only screen and (max-width: 820px){
        &__nav{
            display: none;
            
        }




}}



.hero{
    
    
    &__navn{
        display: flex;
        font-size: 90px;
        color: white;
        width: 8.7em;
        align-items: center;
        justify-content: center;
        margin-top: 1.5em;
        font-family: $font_body;
        
    }
    
    &__slogan{
        display: flex;
        font-size: 40px;
        color: rgb(138, 138, 138);
        width: 18em;
        align-items: center;
        justify-content: center;
        margin-top: 0.4em;
        margin-left: 0.8em;
        font-family: $font_body;
        
}}

.klubben{
   
    height: 90px;
    background: $backgroundtransparent;
    backdrop-filter: blur(24px);
    --webkit-backdrop-filter: blur(30px);
    background-color: rgba(61, 61, 61, 0.11);
    
    width: 50%;
    margin-top: 4.5em;
    text-size-adjust: auto;
    margin-right: 4em;
    padding: 40px;
    margin-left: 2.8em;
    height: 10.8em;

   

    

    
    &__formaal{
        display: flex;
        font-size: 28px;
        color: rgb(138, 138, 138);
        width: 24em;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        margin-left: 0em;
        font-family: $font_body;
    }
    @media only screen and (max-width: 820px){
        &__formaal{
            display: flex;
            font-size: 54px;
            color: rgb(138, 138, 138);
            width: 12em;
            align-items: center;
            justify-content: center;
            margin-top: 1em;
            margin-left: 0em;
            font-family: $font_body;
        }}

        @media only screen and (max-width: 820px){
            .klubben{
       
                display: none;
                height: 90px;
                background: $backgroundtransparent;
                backdrop-filter: blur(24px);
                --webkit-backdrop-filter: blur(30px);
                background-color: rgba(124, 24, 24, 0.11);
                
                width: 50%;
                margin-top: 4.5em;
                text-size-adjust: auto;
                margin-right: 4em;
                padding: 40px;
                margin-left: 2.8em;
                height: 10.8em;
            
            }}

    


}
    